<!DOCTYPE html>
<html lang="en"><head>
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
<meta name="description" content="Search Engines">
<meta name="keywords" content="Techtimejourney linux, PostX Linux, PostX Gnu/Linux">
<meta name="author" content="JJ Posti">
<link rel="stylesheet" href="css/main.css">
<title>About</title>
</head><body>
<style>body {background-color: lightblue; max-width: max-content; margin:auto;}</style>    

</br>
</br>
</br>       
</br>
</br>
</br>   

<h1> This content comes with no warranty. Licensed under APACHE LICENSE V2.0 </h1>
</body>