<!DOCTYPE html>
<html lang="en"><head>
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
<meta name="description" content="Search Engines">
<meta name="keywords" content="Techtimejourney linux, PostX Linux, PostX Gnu/Linux">
<meta name="author" content="JJ Posti">
<title>Search Engines</title>
</head><body>
<style>body {background-color: lightblue; max-width: max-content; margin:auto;}</style>
</br>
</br>
</br>   
    
<form style="margin: auto; width: 220px;" method="get" action="https://duckduckgo.com/?">
    <input type=”text” placeholder="Search with DuckDuckGo" style="height:30px;" name="q" size="41" value="">
</form>

</br>
</br>
</br>
<form style="margin: auto; width: 220px;" method="get" action="https:///www.startpage.com/sp/search?">
    <input type=”text” placeholder="Search with StartPage" style="height:30px;" name="q" size="41" value="">
</form>


</br>
</br>
</br>

<form style="margin: auto; width: 220px;" method="get" action="https://oscobo.co.uk/search.php?">
    <input type=”text” placeholder="Search with Oscobo" style="height:30px;" name="q" size="41" value="">
</form>

</br>
</br>
</br>

<form style="margin: auto; width: 220px;" method="get" action="https://www.qwant.com/?">
    <input type=”text” placeholder="Search with QWant" style="height:30px;" name="q" size="41" value="">
</form>

</br>
</br>
</br>

<form style="margin: auto; width: 220px;" method="get" action="https://www.ecosia.org/search?">
    <input type=”text” placeholder="Search with Ecosia" style="height:30px;" name="q" size="41" value="">
</form>

</br>
</br>
</br>

<form style="margin: auto; width: 220px;" method="get" action="https://searx.info/search?">
    <input type=”text” placeholder="Search with SearX" style="height:30px;" name="q" size="41" value="">
</form>


</br>
</br>
</br>

<form style="margin: auto; width: 220px;" method="get" action="https://swisscows.com/web?">
    <input type=”text” placeholder="Search with Swisscows" style="height:30px;" name="query" size="41" value="">
</form>

</br>
</br>
</br>

<form style="margin: auto; width: 220px;" method="get" action="https://metager.org/meta/meta.ger3?">
    <input type=”text” placeholder="Search with MetaGer" style="height:30px;" name="eingabe" size="41" value="">
</form>

</body>
</html>